.cpc_settings .cpc_row{margin-top:.5rem;}
.cpc_settings .cpc_label{width:7.5rem;opacity:.85;}
.cpc_settings .cpc_label2{margin-bottom:.25rem;opacity:.85;}
.cpc_settings .cpc_hint{margin-left:.5rem;}
.cpc_settings .gap1{gap:.5rem;}
.cpc_settings .cpc_hr{margin:.75rem 0;opacity:.25;}